Write an R-script to generate the sum of the number series as follows using while
loop -
1 8 27 64

In [1]:
i <- 1
n <- readline()
n <- as.integer(n)
sum <- 0
while(i<=n){
    sum = sum + (i**3)
    i = i + 1
}
print(sum)

5
[1] 225

Write an R-script to sum the series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)

In [3]:
n <- readline(prompt = "Enter the value of n:")
n <- as.integer(n)
sum <- (n * (n + 1) * (2 * n + 4))/12
print(sum)

Enter the value of n:5
[1] 35

Write an R-script to reverse the number

In [7]:
n <- readline(prompt = "Enter a number:")
n <- as.integer(n)
rev <- 0
while(n > 0){
    t <- n%%10
    n <- n%/%10
    rev <- 10 * rev + t
}
print(rev)

Enter a number:1234
[1] 4321

Write an R-script to design a menu driven program as follows and then
evaluate any one of the operation according to your choice using switch
case statement.
1. Area of circle, 2. Area of rectangle, 3. Area of Triangle

In [14]:
c <- readline(prompt = "Enter your choice: ")
area <- switch(
    c,
    "1" = {
        r <- readline(prompt = "Enter value of radius: ")
        r <- as.integer(r)
        2 * 3.14 * r
    },
    "2" = {
        b <- readline(prompt = "Enter base of the rectangle:")
        h <- readline(prompt = "Enter height of the rectangle:")
        b <- as.integer(b)
        h <- as.integer(h)
        b * h
    },
    "3" = {
        b <- readline(prompt = "Enter base of the triangle:")
        h <- readline(prompt = "Enter height of the triangle:")
        b <- as.integer(b)
        h <- as.integer(h)
        1/2 * b * h
    }
)
print(area)

Enter your choice: 2
Enter base of the rectangle:20
Enter height of the rectangle:10
[1] 200

Write an R-script to analyze whether the given year is a leap year or not?

In [16]:
y = as.integer(readline(prompt="Enter a year: "))
if((y %% 4) == 0) {
    if((y %% 100) == 0) {
        if((y %% 400) == 0) {
            print(paste(y,"is a leap year"))
        } else {
            print(paste(y,"is not a leap year"))
        }
    } else {
        print(paste(y,"is a leap year"))
    }
} else {
    print(paste(y,"is not a leap year"))
}

Enter a year: 2021
[1] "2021 is not a leap year"

WAF to convert dollar to inr and use the same function to perform something

In [17]:
dollar_to_inr <- function(d){
    return (75 * d)
}

dollar_to_inr(as.integer(readline(prompt = "Enter Dollar value : ")))

Enter Dollar value : 100

[1] 7500

Wrtie a R-script to develop a function that recieves 5 numbers and display the sum ,average
std deviation of these numbers.

In [31]:
stats <- function(nos){
    s <- sum(nos)
    avg <- mean(nos)
    std_div <- sd(nos)
    print(paste("sum is ", s))
    print(paste("Average is " , avg))
    print(paste("std deviation is " , std_div))
}
nums <- c(1,2,3,4,5)
stats(as.integer(nums))

[1] "sum is  15"
[1] "Average is  3"
[1] "std deviation is  1.58113883008419"

Randomly generate 1,000 pets, from the choices “dog,” “cat,” “hamster,” and
“goldfish,” with equal probability of each being chosen. Display the first few
values of the resultant variable, and count the number of each type of pet.

In [32]:
pet_data <- sample(c( "dog" , "cat" , "hamster" , "goldfish"), 1000 , replace = TRUE)
# First few variables:
str(pet_data)
# count of each type:
summary(as.factor(pet_data))

 chr [1:1000] "hamster" "cat" "cat" "cat" "cat" "goldfish" "cat" "hamster" ...

     cat      dog goldfish  hamster
     233      264      260      243

The beaver1 and beaver2 data frames contain body temperatures of two
beavers. Add a column named id to the beaver1 dataset, where the value is
always 1. Similarly, add an id column to beaver2, with value 2. Vertically
concatenate the two data frames and find the subset where body temp is above
10.

In [43]:
beaver1 <- data.frame(
    "day" = c("Mon","Tue","Wed","Thu","Fri"),
    "temp" = c(6,6.3,6.5,37,36.3)
)
beaver2 <- data.frame(
    "day" = c("Mon","Tue","Wed","Thu","Fri"),
    "temp" = c(37,36,35.5,6.3,6.3)
)

beaver1$id <- 1
beaver2$id <- 2

beavers <- rbind(beaver1,beaver2)
print(beavers[beavers$temp > 10,])

  day temp id
4 Thu 37.0  1
5 Fri 36.3  1
6 Mon 37.0  2
7 Tue 36.0  2
8 Wed 35.5  2